div.simple-text
  h1 Discuss about features in BEM methodology
  h2 Benefits:
  ul
    li pretty common and often use methodology
    li easily understood
  h2 Limitations:
  ul
    li hard syntax in sass for modificators and conditions
  h2 Questions:
  ul
    li override styles from parent element in block
  h1 Plans for future
  ul
    li css-linter
    li webpack
    li css-optimizer
    li subrepo for styles
    li change some sass-mixins on functions
    li try to do html sprite
