div.simple-text
  h1 Practice usage of OOCSS methodology
  p
    | Example:
    a(href=' http://codepen.io/kris2519/pen/EyRQWo' target="_blank") http://codepen.io/kris2519/pen/EyRQWo
  h2 Two Main Principles of OOCSS:
  ul
    li separate structure and skin
    li separate container and content
  h2 Benefits:
  ul
    li performance by reducing the css file
    li modularity
    li some set of classes , which reduces improvements of stylesheet
  h2 Limitations:
  ul
    li names of classes (there is no clear structure)
    li difficult to read HTML
  h1 Practice usage of OOCSS methodology
  ul
    li nested blocks in BEM (openable question)
    li structure for project with Angular 2.0 + webpack
    li placeholders in sass (base structure for functions/mixins/placehoolders)
