html(ng-app="app")
  head
    meta(name="fragment" content="!")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    style
      include critical-css/critical.css

    script
      include critical-js/loadcss.js


  body
    header.header(ng-include="'blocks/global/header.html'")
    div.wrapper(ui-view="")

    script(src="js/main-min.js" defer)
    script(src="js/common-min.js" defer)
    script(src="js/templates-min.js" defer)
    script(src="js/fonts.js" defer)