div.simple-text
  h1 Полезные ссылки
  ol.simple-text-list
    li.simple-text-item
      b 1. Gulp Skeleton -

      a.link(href="https://github.com/Rademade/code-gulp-skeleton" target="_blank") Github

    li.simple-text-item
      b 2. CheckList -
      a.link(href="https://docs.google.com/document/d/1ayMxsjDtJjsTEYB4LRP9GWXutIPbI_Fd9I6XccRJQM8/edit#heading=h.ccfo1afo5js6" target="_blank") Google Docs

    li.simple-text-item
      b 3. Code Style
        sup beta
        | -
      a.link(href="https://docs.google.com/document/d/1H3maWt2XcBljQjiOU-QLuOvsVZDIRjzDs0UWMYx7Zk4/edit" target="_blank") Google Docs

    li.simple-text-item
      b 4. Design and coding -
      a.link(href="https://docs.google.com/spreadsheets/d/1v3i39ZXwOQX78MAvZaA9EhJ0nhMdSKyBqoB5FqC68BY/edit" target="_blank") Google Docs

    li.simple-text-item
      b 5. Production help form -
      a.link(href="https://docs.google.com/forms/d/e/1FAIpQLSew6aQLCQU_6mtRvCmFr62CZv8N-LIm3cX8X3DkPMbcnQeUWQ/viewform" target="_blank") Google Form

    li.simple-text-item
      b 5. Hackaton list -
      a.link(href="https://goo.gl/forms/z0DySfUghWzL7mXt2" target="_blank") Google Form