.header
  background-color: #222a34
  +clear

.header-logo
  float: left
  margin-right: 3px
  color: #2ec783
  font-size: em(24)
  line-height: 2.1
  letter-spacing: 1px
  font-weight: bold

.header-logo-sign
  float: left
  color: #2ec783
  color: rgba(46, 199, 131, 0.57)
  margin-top: 21px
  font-size: em(12)
