include ../mixins/snippet

div.content-text
  h1 Hackathons
+snippet-w-dd([
  [{
    classMod: 'mod-future',
    date: '02.08.2016,',
    person: 'by M.Shutyak',
    title: 'SMACSS'
  }]

])

div.content-text
  h2 Passed
+snippet-w-dd([
  [{
    date: '04.08.2016,',
    person: 'by M.Shutyak',
    title: 'Components structure in project with Angular 2.0 + webpack'
  }],
  [{
    date: '25.07.2016,',
    person: 'by K.Zhydyeliahina',
    title: 'OOCSS',
    ddList: [
      [{
        ddTitle: 'Practice usage of OOCSS methodology',
        ddTextList: [
          [{
            ddText: 'Example: http://codepen.io/kris2519/pen/EyRQWo'
          }],
          [{
            ddText: 'Two Main Principles of OOCSS:' + '<br>' + '- Separate structure and skin' + '<br>' +  '- Separate container and content'
          }],
          [{
            ddText: 'Benefits:' + '<br>' + '- performance by reducing the css file' + '<br>' + '- modularity'
            + '<br>' + '- some set of classes , which reduces improvements of stylesheet'
          }],
          [{
            ddText: 'Limitations:' + '<br>' + '- names of classes (there is no clear structure)' + '<br>' + '- difficult to read HTML'
          }]
        ]
      }],
      [{
        ddTitle: 'Hackathon conclusions:',
        ddTextList: [
          [{
            ddText: '- nested blocks in BEM (openable question)'
          }],
          [{
            ddText: '- structure for project with Angular 2.0 + webpack'
          }],
          [{
            ddText: '- placeholders in sass (base structure for functions/mixins/placehoolders)'
          }]
        ],
      }]
    ]
  }],
  [{
    date: '18.07.2016,',
    person: 'by WebTech',
    title: 'Current news',
    ddList: [
      [{
        ddTitle: 'Discuss about features in BEM methodology',
        ddTextList: [
          [{
            ddText: 'Benefits:' + '<br>' + '- pretty common and often use methodology' + '<br>' + '- easily understood'
          }],
          [{
            ddText: 'Limitations:' + '<br>' + '- hard syntax in sass for modificators and conditions'
          }],
          [{
            ddText: 'Questions:' + '<br>' + '- override styles from parent element in block'
          }]
        ]
      }],
      [{
        ddTitle: 'Plans for future',
        ddTextList: [
          [{
            ddText: '- css-linter' + '<br>'
            + '- webpack' + '<br>' + '- css-optimizer' + '<br>' + '- subrepo for styles' + '<br>'
            + '- change some sass-mixins on functions' + '<br>' + '- try to do html sprite'
          }]
        ]
      }]
    ]
  }],

  [{
    date: '09.06.2016,',
    person: 'by K.Fedorenko',
    title: 'Layouts Page'
  }]

])