include ../mixins/snippet

div.content-text
  h2 Future events
+snippet-controller-w-dd('HackathonFutureController')

div.content-text
  h2 Past events
+snippet-controller-w-dd('HackathonPastController')