div.content-text
  h1 Wellcome to Rademade code snippets!
  h2 Main info
  ul
    li
      span
        b Gulp skeleton - &nbsp;
        a(href="https://github.com/Rademade/email-skeleton" target="_blank") Watch
    li
      span
        b Code skeleton - &nbsp;
        a(href="https://github.com/Rademade/code-gulp-skeleton" target="_blank") Watch

    li
      span
        b Code check list - &nbsp;
        a(href="https://docs.google.com/document/d/1UCy3I9wRHBo0hZWq-NMhquSxvlHGrdlH_iNsYO0CMqI/edit?ts=565757ad" target="_blank") Watch

    li
      span
        b Simple text example - &nbsp;
        a(ui-sref="public.simple") Watch