div.simple-text
  h1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error delectus, unde.
  p
    | Lorem ipsum dolor
    b sit amet
    | , consectetur adipisicing
    s elit
    | .
    a(href='#') Consequatur
    |  quibusdam deserunt sequi ratione
    u ipsum
    |  dolore id eius,
    |       ducimus est
    sub 3
    |  voluptates ipsa
    i excepturi
    |  numquam aut sed fugiat,
    |       sunt voluptatum nobis
    sup 2
    |  facere.
  h2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error delectus, unde.
  ol
    li
      | Lorem ipsum dolor sit
      ul
        li Lorem ipsum dolor sit
        li Lorem ipsum dolor sit
        li Lorem ipsum dolor sit
    li
      | Lorem ipsum dolor sit
      ul
        li Lorem ipsum dolor sit
        li Lorem ipsum dolor sit
        li Lorem ipsum dolor sit
  h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error delectus, unde.
  p
    | Lorem ipsum dolor
    b sit amet
    | , consectetur adipisicing
    s elit
    | .
    a(href='#') Consequatur
    |  quibusdam deserunt sequi ratione
    u ipsum
    |  dolore id eius,
    |       ducimus est
    sub 3
    |  voluptates ipsa
    i excepturi
    |  numquam aut sed fugiat,
    |       sunt voluptatum nobis
    sup 2
    |  facere.
  h4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error delectus, unde.
  img(src='http://placehold.it/800x100', alt='')
  h5 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error delectus, unde.
  p
    | Lorem ipsum dolor
    b sit amet
    | , consectetur adipisicing
    s elit
    | .
    a(href='#') Consequatur
    |  quibusdam deserunt sequi ratione
    u ipsum
    |  dolore id eius,
    |       ducimus est
    sub 3
    |  voluptates ipsa
    i excepturi
    |  numquam aut sed fugiat,
    |       sunt voluptatum nobis
    sup 2
    |  facere.
  h6 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error delectus, unde.
  img(src='http://placehold.it/800x100', alt='')
  p
    | Lorem ipsum dolor
    b sit amet
    | , consectetur adipisicing
    s elit
    | .
    a(href='#') Consequatur
    |  quibusdam deserunt sequi ratione
    u ipsum
    |  dolore id eius,
    |       ducimus est
    sub 3
    |  voluptates ipsa
    i excepturi
    |  numquam aut sed fugiat,
    |       sunt voluptatum nobis
    sup 2
    |  facere.
  ul
    li Lorem ipsum dolor sit
    li Lorem ipsum dolor sit
    li Lorem ipsum dolor sit
  ol
    li Lorem ipsum dolor sit
    li Lorem ipsum dolor sit
    li Lorem ipsum dolor sit
  blockquote
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error delectus, unde.
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error delectus, unde
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error delectus, unde
  table
    thead
      tr
        td Lorem
        td Lorem
    tbody
      tr
        td Lorem
        td Lorem
  table
    tr
      th(colspan='2') Lorem
    tr
      td Lorem
      td Lorem
  dl
    dt Термин 1
    dd Описание термина 1
    dt Термин 2
    dd Описание термина 2
