include ../../mixins/snippet

+snippet-w-dd([
  [{
    date: '04.08.2016,',
    person: 'by M.Shutyak',
    title: 'Components structure in project with Angular 2.0 + webpack',
    path: 'public.article.empty'
  }],
  [{
    date: '25.07.2016,',
    person: 'by K.Zhydyeliahina',
    title: 'OOCSS',
    path: 'public.article.oocss'
  }],
  [{
    date: '18.07.2016,',
    person: 'by WebTech',
    title: 'Current news',
    path: 'public.article.current-news'
  }],

  [{
    date: '09.06.2016,',
    person: 'by K.Fedorenko',
    title: 'Layouts Page',
    path: 'public.article.empty'
  }]

])
