=arial()
  font-family: 'Arial', sans-serif

=ptserif()
  font-family: 'pt_serifregular', serif

=proximanova-reg()
  font-family: 'ankchiddjgmbalcregular', sans-serif

=proximanova-bold()
  font-family: 'ielaolbpchndjkbregular', sans-serif

=proximanova-black()
  font-family: 'nhahkpeokhgaeaaregular', sans-serif