.snippet-list

  &.mod-dd
    margin-bottom: 30px

    .snippet-preview
      padding-right: 60px


  .snippet-holder
    margin-bottom: 20px
    padding: 15px 20px
    border: 1px solid #eaeaea
    border-radius: 4px