.snippet-list

  &.mod-dd
    margin-bottom: 30px

    .snippet-holder
      padding: 15px 30px

    .snippet-preview
      padding-right: 60px

      .preview-data
        margin-bottom: 15px

        .preview-date,
        .preview-person
          color: #292929
          font-size: 14px


  .snippet-holder
    position: relative
    margin-bottom: 20px
    padding: 15px 20px
    border: 1px solid #eaeaea
    border-radius: 4px

    &:hover
      border: 1px solid #2ec783
        