.snippet-preview
  position: relative
  text-align: right

  .preview-data
    display: block
    margin-bottom: 5px
    text-align: left

  .preview-date
    display: inline-block
    margin-right: 5px
    color: #292929
    font-size: em(16)
    line-height: 20px

  .preview-person
    display: inline-block
    color: #292929
    font-size: em(16)
    line-height: 20px


  .preview-title
    display: block
    margin-bottom: 10px
    font-size: em(24)
    font-weight: bold
    text-align: left
    color: #292929

    &.mod-title-green:hover
      color: #2ec783


  .preview-description
    margin-bottom: 10px
    text-align: left

  .preview-link
    max-width: 200px
    color: #2ec783
    border-bottom: 1px solid #2ec783
    +to(inline-block)
    &:hover
      border-bottom: 1px solid transparent